@import "tailwindcss";
@plugin "@designbycode/tailwindcss-text-stroke";

:root {
  --background: #bee4a0;
  --foreground: #171717;
}

@theme {
  --color-relleno-azul-marino: #043448;
  --color-borde-azul-marino: #0c1f26;
  --color-relleno-celeste: #3088b1;
  --color-borde-celeste: #175073;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  fill: white;
}
