@import "tailwindcss";

:root {
  --background: #bee4a0;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  fill: white;
}
